<!DOCTYPE html>

<html>
    <head>
        <title> Border Radius Preview </title>
        <meta charset="utf-8">
        <link rel="icon" type="image/svg" href="static/img/icon.svg"/>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header>
            <img id="icon" src="static/img/icon.svg"> <!-- #icon -->
            <p> Border Radius Preview </p>
        </header>
        <main>
            <form>
                <input id="radius" type="number" placeholder="border-radius"> <!-- #radius -->
            </form>
            <button id="send-radius"> Preview </button> <!-- #send-radius -->
            <button id="send-code"> Copy Code </button> <!-- #send-code -->
            <div id="box">
                <textarea id="code" readonly>
                    
                </textarea> <!-- #code -->
            </div> <!-- #box -->
        </main>
    </body>
    <script type="text/javascript" src="static/JS/index.js"></script>
</html>